# dependencies
beautifulsoup4
colorama
md2pdf
python-dotenv
pyyaml
uvicorn
pydantic
fastapi
python-multipart
markdown
langchain
langchain-core
langchain_community
langchain-openai
tiktoken
gpt-researcher
arxiv
PyMuPDF
requests
jinja2
aiofiles
mistune
python-docx
htmldocx
lxml_html_clean
websockets
unstructured
json_repair
json5
loguru
langgraph
peewee==3.17.9
passlib==1.7.4
python-jose[cryptography]
pika=1.3.2
# uncomment for testing
# pytest
# pytest-asyncio
